<script type="text/javascript">
  {% if cart %}
    window.pn.cart = {};
  	window.pn.cart = {{cart | json}}
    window.pn.cart.items = [];

    {% for item in cart.items %}
      var cart_item = {{item | json}};
      cart_item["collection_ids"] = [];
      {% for c in item.product.collections %}
        cart_item["collection_ids"].push({{c.id}})
        {% endfor %}
      window.pn.cart.items.push(cart_item);
    {% endfor %}

    if (typeof window.pn.cart.items == "object") {
      for (var i=0; i<window.pn.cart.items.length; i++) {
        ["sku", "vendor", "url", "image", "handle", "product_type", "product_description"].map(function(a) {
          delete window.pn.cart.items[i][a]
        })
      }
    }
  {% endif %}
</script>

{% raw %}
<script>
if(typeof pn === "undefined"){
  pn = {};
}
if(typeof pn.settings === "undefined"){
  pn.settings = {};
}
pn.settings.defaultSetting={"id":16663059,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":null,"h":null,"i":false,"j":null,"k":null,"l":null,"m":"default","n":null,"o":true,"handle":null,"p":null,"y":null,"q":false,"r":false,"s":null,"t":null,"u":1,"v":false,"w":"ribbon","tag":null,"x":null,"z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"};
pn.settings.singleProductSettings=[{"id":17908991,"a":"Pre-order Now","b":false,"c":196,"d":"Coming Soon","e":false,"f":"Only {{qty}} remaining","g":"Ships 11/5/21","h":"below","i":false,"j":null,"k":"2018-08-06T03:00:00.000Z","l":"2021-11-05T18:00:00.000Z","m":"variant","n":"21122779545689","o":false,"handle":"anti-aging-eye-cream","p":"2033663541337","y":"https://cdn.shopify.com/s/files/1/0030/0639/8553/products/anti-aging-eye-cream-eyes-eyes-baby.jpg?v=1641589847","q":true,"r":false,"s":268,"t":null,"u":1,"v":false,"w":"ribbon","tag":null,"x":"Item Ships 11/5/21","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":18051602,"a":"Pre-order Now","b":false,"c":840,"d":"Coming Soon","e":false,"f":"Only {{qty}} remaining","g":"Ships 11/5/21","h":"below","i":false,"j":null,"k":"2021-09-29T21:00:00.000Z","l":"2021-11-05T13:00:00.000Z","m":"variant","n":"30333619437657","o":false,"handle":"starter-set","p":"4186564919385","y":"https://cdn.shopify.com/s/files/1/0030/0639/8553/products/skincare-routine-set-starter-set.jpg?v=1640116137","q":true,"r":false,"s":701,"t":null,"u":1,"v":false,"w":"ribbon","tag":null,"x":"Item Ships 11/5/21","z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"}];
pn.settings.tagSettings=[];
</script>
<style type="text/css">
  .pn-original-subtotal{
    text-decoration: line-through;
    display:inline-block;
  }
  .pn-discounted-subtotal{
    font-weight:bold;
    margin-left:20px;
    display:inline-block;
    font-size: 1.3em;
  }

  .pn-line-item-original-price {
    text-decoration: line-through;
  }

  .pn-line-item-discounted-price {
    font-size: 1.2em;
    margin-left: 8px;
  }
</style>
{% endraw %}


<div id="pn-mixed-cart-warning" class="pn-modal">
  <div id="pn-mixed-cart-warning-content">
    <span id="pn-modal-close-btn">x</span>
    <h2 id="pn-mixed-cart-warning-title"></h2>
    <div id="pn-mixed-cart-warning-text"></div>
  </div>
</div>