{% if image %}
  {% assign default_size = 'master' %}
  {% assign sizes = '100vw' %}
  {% assign aspect_ratio = image.aspect_ratio | default: 1 %}

  {% if max_width != blank %}
    {% assign default_size = max_width | append: 'x' %}
    {% capture sizes %}
      (max-width: {{ max_width }}px) 100vw, {{ max_width }}px
    {% endcapture %}
  {% endif %}

  <img
    src="{{ image | img_url: default_size }}"
    srcset="
      {{ image | img_url: '50x' }} 50w,
      {{ image | img_url: '100x' }} 100w,
      {{ image | img_url: '300x' }} 300w,
      {{ image | img_url: '400x' }} 400w,
      {{ image | img_url: '600x' }} 600w,
      {{ image | img_url: '900x' }} 900w,
      {{ image | img_url: '1200x' }} 1200w,
      {{ image | img_url: '1500x' }} 1500w,
      {{ image | img_url: '1800x' }} 1800w,
      {{ image | img_url: '2100x' }} 2100w,
      {{ image | img_url: '2400x' }} 2400w"
    sizes="{{ sizes }}"
    {% if max_width != blank %}
      width="{{ max_width }}"
      height="{{ max_width | divided_by: aspect_ratio }}"
    {% endif %}
    alt="{{ image.alt | escape }}"
    loading="{{ loading | default: 'lazy' }}"
    {% if class != blank %}
      class="{{ class }}"
    {% endif %}
  />
 {% else %}
 <noscript>
  {%- if media.media_type == 'video' or media.media_type == 'external_video' -%}
    <span class="product__media-icon motion-reduce">{% render 'icon-play' %}</span>
    <div class="product__media media" style="padding-top: {{ 1 | divided_by: media.preview_image.aspect_ratio | times: 100 }}%;">
      <img
        srcset="{% if media.preview_image.width >= 288 %}{{ media.preview_image | img_url: '288x' }} 288w,{% endif %}
          {% if media.preview_image.width >= 576 %}{{ media.preview_image | img_url: '576x' }} 576w,{% endif %}
          {% if media.preview_image.width >= 750 %}{{ media.preview_image | img_url: '750x' }} 750w,{% endif %}
          {% if media.preview_image.width >= 1100 %}{{ media.preview_image | img_url: '1100x' }} 1100w,{% endif %}
          {% if media.preview_image.width >= 1500 %}{{ media.preview_image | img_url: '1500x' }} 1500w{% endif %}"
        src="{{ media | img_url: '1500x' }}"
        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | times: 0.64 | round }}px, (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
        loading="lazy"
        width="576"
        height="{{ 576 | divided_by: media.preview_image.aspect_ratio | ceil }}"
        alt="{{ media.preview_image.alt | escape }}"
      >
    </div>
    <a href="{% if media.media_type == 'video' %}{{ media.sources[1].url }}{% else %}{{ media | external_video_url }}{% endif %}" class="product__media-toggle">
      <span class="visually-hidden">{{ 'products.product.video_exit_message' | t: title: product.title | escape }}</span>
    </a>
  {%- else -%}
    <div class="product__media media" style="padding-top: {{ 1 | divided_by: media.preview_image.aspect_ratio | times: 100 }}%;">
      <img
        srcset="{% if media.preview_image.width >= 288 %}{{ media.preview_image | img_url: '288x' }} 288w,{% endif %}
          {% if media.preview_image.width >= 576 %}{{ media.preview_image | img_url: '576x' }} 576w,{% endif %}
          {% if media.preview_image.width >= 750 %}{{ media.preview_image | img_url: '750x' }} 750w,{% endif %}
          {% if media.preview_image.width >= 1100 %}{{ media.preview_image | img_url: '1100x' }} 1100w,{% endif %}
          {% if media.preview_image.width >= 1500 %}{{ media.preview_image | img_url: '1500x' }} 1500w{% endif %}"
        src="{{ media | img_url: '1500x' }}"
        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | times: 0.64 | round }}px, (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
        loading="lazy"
        width="576"
        height="{{ 576 | divided_by: media.preview_image.aspect_ratio | ceil }}"
        alt="{{ media.preview_image.alt | escape }}"
      >
    </div>
  {%- endif -%}
</noscript> 
{% endif %}
