{{ 'ticker-section.css' | asset_url | stylesheet_tag }}

<style>
  .ticker-section {
    background-color: {{ section.settings.bg_color }};
    border-top-color: {{ section.settings.border_color_top }};
    border-top-width: {{ section.settings.border_size_top }}px;
    border-bottom-color: {{ section.settings.border_color_bottom }};
    border-bottom-width: {{ section.settings.border_size_bottom }}px;
  }
</style>

<div class='ticker-section'>
  <div class='main-container'>
    <div class='wrapper' data-marqy-inner>
      <div class="ticker-slider" data-marqy-content style="animation-duration: 50s;">
        {% for block in section.blocks %}
          <div class="slider-item" data-marqy-item>
            <div class="icon-wrap">
              {% render 'responsive--image' with block.settings.icon as image, max_width: 60px, class: 'icon-image' %}
            </div>
            <span class='icon-text'>{{ block.settings.icon_text }}</span>
          </div>
        {% endfor %}
      </div>
      <div class="ticker-slider" data-marqy-content style="animation-duration: 50s;">
        {% for block in section.blocks %}
          <div class="slider-item" data-marqy-item>
            <div class="icon-wrap">
              {% render 'responsive--image' with block.settings.icon as image, max_width: 60px, class: 'icon-image' %}
            </div>
            <span class='icon-text'>{{ block.settings.icon_text }}</span>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% comment %}
<script>
  // init slider 
  const ticker_slider = $(".ticker-slider");
  ticker_slider.slick({
    dots: false,
    arrows: false,
    slidesToShow: 5,
    slidesToScroll: 1,
    draggable: true,
    infinite:true,
    autoplay: true,
    responsive: [
      {
        breakpoint: 992,
        settings: {
          slidesToShow: 4,
          variableWidth: false
        }
      },
      {
        breakpoint: 769,
        settings: {
          slidesToShow: 3,
          variableWidth: false
        }
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 3
        }
      }
    ]
  });
  ticker_slider.on('wheel', (function(e) {
    e.preventDefault();
    if (e.originalEvent.deltaY < 0) {
      $(this).slick('slickPrev');
    } else {
      $(this).slick('slickNext');
    }
  }));
</script>
{% endcomment %}

{% schema %}
{
  "name": "Ticker Section",
  "settings": [
    {
      "type": "header",
      "content": "Color",
      "info": "-------"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "border_color_top",
      "label": "Border Color (Top)"
    },
    {
      "type": "color",
      "id": "border_color_bottom",
      "label": "Border Color (Bottom)"
    },
    {
      "type": "header",
      "content": "Border Size",
      "info": "-------"
    },
    {
      "type": "range",
      "id": "border_size_top",
      "label": "Border Size (Top)",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 1
    },
    {
      "type": "range",
      "id": "border_size_bottom",
      "label": "Border Size (Bottom)",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 1
    }
  ],
  "blocks": [
    {
      "name": "Icon With Text",
      "type": "icon_with_text",
      "settings": [
        {
          "type": "header",
          "content": "Image",
          "info": "-------"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon Image"
        },
        {
          "type": "header",
          "content": "Content",
          "info": "-------"
        },
        {
          "type": "text",
          "id": "icon_text",
          "label": "Icon Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Ticker Section",
      "category": "Ticker Section"
    }
  ]
}
{% endschema %}